$text: #F0F0F0;
$primary-color: #0176A9;
$yellow: #C58E01;
$red: #E74C3C;

.button{
    cursor: pointer;
    border: none;
    color: $text;

    &-primary{
        padding: .5rem .75rem;
        font-size: 1.2rem;
        background: $primary-color;
        border-radius: .5rem;
    }

    &-lite{
        padding: .4rem .6rem;
        font-size: .9rem;
        background: $primary-color;
        border-radius: .4rem;
    }
}

.bg {
    &-red {
        background: $red;
    }
    &-yellow {
        background: $yellow;
    }
    
}