$text: #F0F0F0;
$bg_primary_dark: #1A202C;

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg_primary_dark;

  & span {
    margin-right: .3rem;
  }

  & a {
    color: $text;
  }
}